.animated-line {
  stroke-dasharray: 8;
  stroke-dashoffset: 10;
  animation: dash 5s linear infinite;
  stroke: black;
  content: "▶︎";
}

.animated-line::after {
  content: "▶︎";
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }

  to {
    stroke-dashoffset: 20;
  }
}
